.img-size {
    max-width: 500px;
}

.carousel-wrapper {
    height: 334px;
    width: 100%;
    position: relative;
}

.carousel-position {
    position: absolute;
    width: 100%;
    max-width: 500px;
    margin: 30px auto;
    left: 0;
    right: 0;
}

.alert--position {
    position: sticky;
    top: 10px;
    float: left;
    max-width: 100px;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 1;
}

.sticky--fix {
    position: absolute;
    height: 180vh;
}

.sticky--fix--drop {
    right: 0;
}

.btn--position {
    margin: 10px 0;
    align-self: center;
}

.dropdown--position {
    position: sticky;
    top: 10px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    z-index: 1;
}

.btn--pad {
    margin: 10px;
}

.col--pad {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.collapse-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding-top: 30px;
}

.form {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.form--container {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.jumbotron {
    background-color: rgb(0, 0, 0);
    margin: 30px 0;
}

.container {
    color: #fff;
}

.alert-success--position {
    margin: 30px auto; 
    width: 50%;
}

.wrapper {
    position: absolute;
    right: 20px;

    width: 200px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 30px;
    
    transform: translate(-50%, -50%);
    transform: translate3d(-50%, -70%, 0);
}

.eye {
    position: relative;

    width: 200px;
    height: 200px;
    margin: 5px;

    background-color: #fff;
    border-radius: 50%;
    animation: eye 3.5s infinite;
}

.eye:after {
    content: '';
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 25%;
    height: 90%;

    background: rgb(0, 0, 0);
    border-radius: 50%;
    
    transform: translate3d(-50%, -50%, 0);
    animation: eyes 17.5s infinite;
}

@keyframes eye {
    0%,
    5%,
    30%,
    37%,
    100%
    {
        height: 100px;
        transform: translate3d(0, 0, 0);
    }
    3%,
    33%
    {
        height: 0;
        transform: translate3d(0, -50%, 0);
    }
}

@keyframes eyes {
    0%,
    20%
    {
        transform: translate3d(-100%, -50%, 0)
    }

    21%,
    40%,
    81%,
    100%
    {
        transform: translate3d(-50%, -50%, 0) 
    }

    41%,
    60%
    {
        transform: translate3d(-50%, -100%, 0)
    }

    61%,
    80%
    {
        transform: translate3d(-50%, 5%, 0)
    }
}

.btn--mar-fix {
    margin: 0!important;
}

.dropdown-menu--bg {
    background: #d4edda;
    right: 0!important;
}

.alert-success {
    border: none;
}

@media screen and (max-width: 768px) {
    .mobile-header {
        font-size: 39px;
    }

    .mobile-description {
        font-size: 15px;
    }
}

@media screen and (max-width: 414px) {

    .container {
        padding-bottom: 15px;
    }

    .wrapper {
        position: relative;
        right: 0;
        bottom: 0;
        margin: 30px auto 0;
        align-items: center;
        transform: none;;
        z-index: 1;
    }

    .jumbotron-fluid {
        padding-right: 0;
        padding-left: 0;
        border-radius: 0;
        padding: 30px;
        height: 335px; /* 295px */
        box-sizing: content-box;
    }
}